<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Page</title>
</head>
<body>
    <h1>Review Page</h1>
    <h2 class="card-title">Library Records: <%= nameData.length %></h2>
    <!-- You can customize the content of the review page here -->
    <p>This is the review page. You can display the submitted information here for review.</p>
    <!-- Example: Displaying submitted form data -->
    <% nameData.forEach(data => { %>
        <ul>
            <li>First Name: <%= data.fname %></li>
            <li>Last Name: <%= data.lname %></li>
            <li>Phone Number: <%= data.phone %></li>
            <li>Email: <%= data.email %></li>
            <li>Notes: <%= data.noteFamily %></li>
            <li>Apartment Type: <%= data.apartmentTypeIndividuals %></li>
            <!-- Add more data fields as needed -->
        </ul>
        <!-- Add Update and Delete buttons for each record -->
        <form action="/updateName" method="get">
            <input type="hidden" name="devId" value="<%= data._id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Update</button>
        </form>
        <form action="/deleteName" method="post">
            <input type="hidden" name="devId" value="<%= data._id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Delete</button>
        </form>
    <% }); %>
    <!-- Add button to go back to the home page -->
    <button onclick="window.location.href = '/'">Back to Home</button>
</body>
</html>
